# Empty CSS file for your own CSS
#map{
    margin-top: 50px;
    text-align: center;
}
.county-border {
    fill: none;
    stroke: white;
}
.axis text {
    font: 10px sans-serif;
}

.axis line, .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#key	{
    position: absolute;
    top:90px;
    left: 50px;

}
#tooltip {
position: absolute;
padding: 10px;
background-color: #ccc;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
pointer-events: none;
}

#tooltip.hidden {
display: none;
}

.bar rect {
  fill: steelblue;
}

.bar text {
  fill: #fff;
  font: 10px sans-serif;
}

.list-item{
    background-color: lightgray;
    margin: 5px 2px;
    padding: 3px;
    border: 1px solid #e6e6e6;
    text-align: center;
}

.list-items{
    margin-top: 15px;
    border: 2px solid black;
}

.list-title{
    margin: 15px;
    font-weight: bold;
    border-bottom: 2px double black;
    text-align: center;
    margin: auto;
    display:block;

}

.kpi{
    vertical-align: center;
}

.kpi-score{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    display: block;
    margin: auto;
}

.list-item:hover{
    background-color: gray;
    cursor: pointer;
}

.demographic-dd{
    width: 100%;
}

.demographic-chart{
    border: 1px solid #e6e6e6;
    margin-top: 15px;
    max-height: 350px;
}

.hdx-img{
    display: block;
    margin: auto;
}
